	body{
		background-color:#fff;
		margin-top:0px;
		margin-left: 0px;
   		margin-right: 0px;

	}
	a{
	color: rgb(0,226,110);
	}
	.heading{
		height: 50px;
		width: 100%;
		background-color:rgb(0,168,220);
		position: relative;	
	}
	.heading a{
		font-size: 20px;
		text-decoration: none;
    	position: relative; 
    	top: 12px;
		left: 10px;
font-family: Helvetica, arial, freesans, clean, sans-serif;
font-weight: normal;
    	color: #fff;	
	}
	.bannerLinks a{
		font-size: 14px;
		text-decoration: none;
    	position: relative; 
    	top: 12px;
		margin-left: 10px;
font-family: Helvetica, arial, freesans, clean, sans-serif;
font-weight: normal;
    	color: #fff;	
	}	
	.h1{
    	bottom: 0;
		left: 10px;
		font-family: Helvetica, arial, freesans, clean, sans-serif;
font-size: 30px;
font-style: normal;
font-variant: normal;
font-weight: normal;
line-height: 1.2;
    	color: rgb(0,168,220);
    	margin-top: 5px;
margin-bottom: 5px;
	}
	.h2{
font-family: Helvetica, arial, freesans, clean, sans-serif;
font-size: 23px;
font-style: normal;
font-variant: normal;
font-weight: normal;
line-height: 1.2;
    	color: rgb(0,168,220);
    	margin-top: 5px;
margin-bottom: 5px;
	}
		.h3{
font-family: Helvetica, arial, freesans, clean, sans-serif;
font-size: 20px;
font-style: normal;
font-variant: normal;
font-weight: normal;
line-height: 1.2;
    	color: rgb(0,168,220);
    	margin-top: 5px;
margin-bottom: 5px;

	}
	.logo{
    	position: absolute; 
    	bottom: 10px;
		right: 10px;    	
	}
	.body{
color: rgb(51, 51, 51);
font-family: Helvetica, arial, freesans, clean, sans-serif;
font-size: 16px;
font-style: normal;
font-variant: normal;
font-weight: normal;
line-height: 1.2;
margin-bottom: 15px;
margin-left: 100px;
margin-right: 0px;
margin-top: 15px;
width: 640px;
word-wrap: break-word;
float:left;

	}
	.qoute{
	
	font-size: 14px;
font-style: italic;
margin-top: 15px;
margin-bottom: 15px;
margin-left: 50px;
margin-right: 50px;
	}
	.sidebar{
color: rgb(51, 51, 51);
font-family: Helvetica, arial, freesans, clean, sans-serif;
font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: normal;
line-height: 1.2;
margin-bottom: 15px;
margin-left: 15px;
margin-right: 0px;
margin-top: 15px;
width: 350px;
float: left;
	
	}	
	
	.footer{
	width: 1000px;
	margin-left: 100px;
	background-color: rgb(240, 240, 240);
	};
	
	code{
	color: rgb(100, 100, 100);
	}
	
	#symbols{
	width: 1010px;
	height: 170px;
	margin-left: 100px;
	background-color: rgb(240, 240, 240);
	text-align: center;
	
	}
	
	code{
	font-size: 14px;
	padding: 10px;
	margin: 5px;
	display: block;
	background-color: rgb(240, 240, 240);

}

table {
    border-collapse: collapse;
    font-family: Helvetica, arial, freesans, clean, sans-serif;
font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: normal;
line-height: 1.2;
}

table, td, th {
    border: 1px solid rgb(200, 200, 200);
    	padding: 5px;
}

.table-heading{
	font-weight: bold;
	color: white;
	background-color:rgb(0,168,220);
}
