body{
	background-color:#fff;
	margin-top:0px;
	margin-left: 0px;
	margin-right: 0px;
	color: rgb(51, 51, 51);
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.2;
}
a{
	color: rgb(0,168,220);
}
table {
    border-collapse: collapse;
    font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.2;
	margin: auto;	
}
table, td, th {
    border: 1px solid rgb(200, 200, 200);
    padding: 5px;
}

.table-heading{
	font-weight: bold;
	background-color:rgb(240, 240, 240);
}
code{
	color: rgb(100, 100, 100);
	font-size: 14px;
	padding: 10px;
	margin: 5px;
	display: block;
	background-color: rgb(240, 240, 240);
}
.heading{
	height: 50px;
	width: 100%;
	min-width: 1110px;
	background-color: rgb(0,107,140);
	box-shadow: 0px 0px 8px #888888;
	position: relative;	
	
}
.heading a{
	font-size: 20px;
	text-decoration: none;
	position: relative; 
	top: 12px;
	left: 10px;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-weight: normal;
	color: #fff;	
}
.bannerLinks a{
	font-size: 14px;
	text-decoration: none;
	position: relative; 
	top: 12px;
	margin-left: 10px;
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-weight: normal;
	color: #fff;	
}
.logo{
	position: absolute; 
	bottom: 10px;
	right: 10px;    	
}
.body{
	margin: auto;
	width: 640px;
	word-wrap: break-word;
}
.footer{
	width:100%;
	min-height:250px;
	padding-top: 20px;
	padding-bottom: 80px;
	background-color: rgb(80, 80, 80);
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 0.8em;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.5;
	color: rgb(200, 200, 200);
	letter-spacing: -0.01em;

}
.footer a{
	color: rgb(220, 220, 220);
}


