<!doctype html>
<html ng-app="symbolTestApp">
<head>
    <link rel="stylesheet" href="../../spatialillusions.com.css"/>
    <style>
        .symbol-table td {
            vertical-align: top;
        }

        .list-of-symbols img.symbol-sm {
            vertical-align: middle;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="../../dist/milsymbol.js"></script>
    <script src="app.js"></script>
</head>
<body>


<div class="heading">
	<a href="http://spatialillusions.com">SPATIAL ILLUSIONS</a>
	<span class="bannerLinks">
	</span>
	<svg class="logo"
		viewBox="50 50 100 100"
		width="30"
		height="30"> 
		<path
			style="fill:none;stroke:#ffffff;stroke-width:3px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1"
			d="m 105,50 25,15 m -40,20 50,10 m -80,-25 0,35 0,25 45,0 15,15 M 110,80 75,70 l 0,50 45,-25 10,35 20,-35 -20,-30 z m -30,65 20,5 20,-5 20,-15 m -50,15 -10,0 -20,-15 m 90,-35 -10,35 -10,0 -10,15 -30,0 m 45,-80 15,30 -10,0 m -10,-35 5,5 -5,0 m -25,-15 25,10 0,5 m -70,5 20,-15 20,5 M 75,70 60,70 50,105 m 10,25 -10,-25 10,0 m 45,25 -15,15 -30,-15 15,-10 m 25,-60 30,5 10,30 M 75,70 100,60 110,80 m 30,15 -10,35 -25,0 m 15,-35 20,0 -30,-15 -20,5 30,10 -15,35 L 75,120 90,85 75,70 60,105 75,120 m 25,-60 5,-10 -25,5 -5,15">
				<animateTransform 
				attributeType="xml"
				attributeName="transform" type="rotate"
				from="0 100 100" to="360 100 100"
				begin="0" dur="60s" 
				fill="freeze"
				repeatCount="indefinite"
				/>
		</path>
	</svg>
</div>

<div class="body">
<h1>Angular milsymbol directive demo</h1>



<p>A demo of a simple Angular.js directive for drawing milsymbol symbols</p>

<p>Example:</p>
<code>
<pre>
    &lt;milsymbol sic="SFG-UCIZ---B" size="40"&gt;&lt;/milsymbol&gt;
</pre>
</code>

<p>
    <milsymbol sic="SFG-UCIZ---B" size="40"></milsymbol>
</p>



<div ng-controller="ListSymbolsController" class="list-of-symbols">
    <span ng-repeat="symbol in symbols"><milsymbol sic="{{symbol}}" size="40"></milsymbol></span>
</div>

<h2>Two way bindings</h2>

<div ng-controller="SymbolController">
    <table class="symbol-table">
        <tr>
            <td>
                <form>
                    Size:<br>
                    <input type="number" ng-model="symbolSize" placeholder="Symbol size" ng-model-options="{ debounce: 500 }">
                    <br>
                    SIDC:<br>
                    <input type="text" ng-model="sidc" placeholder="Symbol identification code"
                           ng-model-options="{ debounce: 500 }">
                    <br>
                    Unique designation:<br>
                    <input type="text" ng-model="uniqueDesignation" placeholder="uniqueDesignation"
                           ng-model-options="{ debounce: 500 }">
                    <br>

                </form>
            </td>
            <td>
                <milsymbol sic="{{sidc}}" size="{{symbolSize}}" unique-designation="{{uniqueDesignation}}"></milsymbol>
            </td>
        </tr>
    </table>
</div>
<br>
This example was created by <a href="https://github.com/kjellmf">Kjell Magne Fauske</a>
</div>
</body>
</html>